<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ur5_workbench_description)/urdf/thing_macro.xacro" />

  <xacro:macro
    name="ur5_workbench"
    params="
      parent
      *origin

      include_ros2_control:=false
      script_filename:=''
      input_recipe_filename:=''
      output_recipe_filename:=''

      include_thing1:=true
      thing1_wrist_camera_model:=''
      thing1_joint_limits_parameters_file
      thing1_kinematics_parameters_file
      thing1_physical_parameters_file
      thing1_visual_parameters_file
      thing1_robot_ip:=''

      include_thing2:=true
      thing2_wrist_camera_model:=''
      thing2_joint_limits_parameters_file
      thing2_kinematics_parameters_file
      thing2_physical_parameters_file
      thing2_visual_parameters_file
      thing2_robot_ip:=''
      "
  >
    <joint name="table_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="table" />
    </joint>

    <link name="table" />

    <xacro:if value="${include_thing1}">
      <xacro:thing
        name="thing1"
        parent="table"
        include_ros2_control="${include_ros2_control}"
        wrist_camera_model="${thing1_wrist_camera_model}"
        joint_limits_parameters_file="${thing1_joint_limits_parameters_file}"
        kinematics_parameters_file="${thing1_kinematics_parameters_file}"
        physical_parameters_file="${thing1_physical_parameters_file}"
        visual_parameters_file="${thing1_visual_parameters_file}"
      >
        <origin xyz="1.905 0.381 0" rpy="0 0 ${pi/2}" />
      </xacro:thing>
    </xacro:if>

    <xacro:if value="${include_thing2}">
      <xacro:thing
        name="thing2"
        parent="table"
        include_ros2_control="${include_ros2_control}"
        wrist_camera_model="${thing2_wrist_camera_model}"
        joint_limits_parameters_file="${thing2_joint_limits_parameters_file}"
        kinematics_parameters_file="${thing2_kinematics_parameters_file}"
        physical_parameters_file="${thing2_physical_parameters_file}"
        visual_parameters_file="${thing2_visual_parameters_file}"
      >
        <origin xyz="0.381 0.381 0" rpy="0 0 ${pi/2}" />
      </xacro:thing>
    </xacro:if>
  </xacro:macro>
</robot>
