<?xml version="1.0" ?>
<robot name="ur5_workbench" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ur5_workbench_description)/urdf/ur5_workbench_macro.xacro" />

  <xacro:arg name="include_ros2_control" default="true"/>

  <xacro:arg name="thing1_joint_limits_parameters_file" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
  <xacro:arg name="thing1_kinematics_parameters_file" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
  <xacro:arg name="thing1_physical_parameters_file" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <xacro:arg name="thing1_visual_parameters_file" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>

  <xacro:arg name="thing2_joint_limits_parameters_file" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
  <xacro:arg name="thing2_kinematics_parameters_file" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
  <xacro:arg name="thing2_physical_parameters_file" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <xacro:arg name="thing2_visual_parameters_file" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>

  <link name="world" />
  <xacro:ur5_workbench
    parent="world"

    include_ros2_control="$(arg include_ros2_control)"

    thing1_joint_limits_parameters_file="$(arg thing1_joint_limits_parameters_file)"
    thing1_kinematics_parameters_file="$(arg thing1_kinematics_parameters_file)"
    thing1_physical_parameters_file="$(arg thing1_physical_parameters_file)"
    thing1_visual_parameters_file="$(arg thing1_visual_parameters_file)"

    thing2_joint_limits_parameters_file="$(arg thing2_joint_limits_parameters_file)"
    thing2_kinematics_parameters_file="$(arg thing2_kinematics_parameters_file)"
    thing2_physical_parameters_file="$(arg thing2_physical_parameters_file)"
    thing2_visual_parameters_file="$(arg thing2_visual_parameters_file)"
  >
    <origin xyz="0 0 1" rpy="0 0 0" />
  </xacro:ur5_workbench>
</robot>
